*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html, body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    /* justify-content: space-between; */
    padding: 0px 80px;
    padding-top: 120px;
    gap: 80px;
}
#left{
    height: 100%;
    width: 45%;
    /* background-color: blanchedalmond; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 50px;
}
#left h1{
    font-size: 120px;
    font-weight: 500;
    font-family: sans-serif;
    line-height: 120px;
    margin-bottom: 50px;
}
#bottom-left{
    height: 40%;
    width: 100%;
    /* background-color: lightgreen; */
}
#color{
    /* background-color: chartreuse; */
    width: fit-content;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border: 1px solid #111010 ;
}
#color h5{
    font-size: 20px;
    margin-right: 5px;
    font-weight: 500;
}
#color-1{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color:antiquewhite;
    margin: 5px;
}
#color-2{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: chocolate;
}
#left h2{
    margin-top: 30px;
    font-size: 30px;

}
#left p{
    margin-bottom: 10px;
    font-size: 17px;
    margin-top: 20px;
    width: 70%;
    font-weight: 500;
    color: #333;
    line-height: 25px;
}
#right{
    height: 100%;
    width: 38%;
    /* background-color: chocolate; */
    position: relative;
}
#right-top{
    height: 50px;
    width: 100%;
    /* background-color: darkgrey; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 10px; */
    padding-right: 30px;
}
#right-top h4{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
}
#right-top h5{
    font-size: 15px;
}
#right-top h5 i{
    color: gold;
    padding: 1px;
}
#right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#circle{
    height: 170px;
    width: 170px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #333;
    color: #fff;
    right: -17%;
    top: 40%;
}
#circle h4{
    font-size: 30px;
    font-weight: 500;
}
#rotated{
    position: absolute;
    left: -10%;
    bottom: 10%;
    rotate: -90deg;
    transform-origin: 0 0;
    font-size: 35px;
    font-weight: 530;
}